In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('termo.csv')

In [ ]:
*AN*O

In [10]:
df[df['TERMO'].str.contains('.B..O', regex=True)]

      Unnamed: 0  TERMO
207          207  EBANO
1239        1239  IBERO
1546        1546  ABEZO
1575        1575  ABAFO
1839        1839  OBSTO
1858        1858  OBVIO
1963        1963  ABETO
2204        2204  ABOIO
2271        2271  OBESO
2631        2631  ABUSO
2939        2939  ABONO
3005        3005  EBRIO
3081        3081  ABRAO
3392        3392  ABANO
4154        4154  ABOBO
4459        4459  ABALO
4612        4612  ABAXO
4719        4719  OBITO
5122        5122  ABACO
5503        5503  ABOCO
5696        5696  ABECO
6211        6211  OBOLO

In [3]:
lista = df["TERMO"].tolist()

In [4]:
len(lista)

6498

In [ ]:
chute = "BANHO"

In [ ]:
resultado = "*AN*O"

## MINUSCULAS

In [ ]:
#palavras_possiveis = lista.copy()  # Começamos com a lista inicial

# Loop para cada posição e letra no resultado
for i in range(5):
    letra_resultado = resultado[i]

    if letra_resultado.islower():  # Verifica se é uma letra minúscula
        letra_maiuscula = letra_resultado.upper()  # Converte para maiúscula
        
        # Filtra as palavras para garantir que contêm a letra correspondente em maiúscula
        palavras_possiveis = [
            palavra for palavra in palavras_possiveis 
            if letra_maiuscula in palavra and palavra[i] != letra_maiuscula
        ]

        # Filtra para garantir que a letra não está nas posições das letras minúsculas ou em letras maiúsculas
        palavras_possiveis = [
            palavra for palavra in palavras_possiveis 
            if all(palavra[j] != letra_maiuscula for j in range(5) if resultado[j].isupper())
        ]

# Exibe as palavras filtradas
#palavras_possiveis  # Deve mostrar as palavras que possuem a letra 'O' em qualquer posição exceto na segunda

In [ ]:
len(palavras_possiveis)

# MAIUSCULAS

In [ ]:

# Filtro onde há letras maiúsculas no resultado
for i in range(5):
    letra_resultado = resultado[i]

    if letra_resultado.isupper():  # Verifica se é uma letra maiúscula
        # Remove palavras que não têm a letra maiúscula na mesma posição
        palavras_possiveis = [
            palavra for palavra in palavras_possiveis 
            if palavra[i] == letra_resultado
        ]

# Exibe as palavras filtradas
palavras_possiveis  # Deve mostrar as palavras que têm as letras maiúsculas na mesma posição

In [ ]:
len(palavras_possiveis)

In [ ]:
'''# Palavra a ser verificada
palavra_a_verificar = "PRAIA"

# Verificando se a palavra está na lista
if palavra_a_verificar in lista:
    print(f"A palavra '{palavra_a_verificar}' está na lista.")
else:
    print(f"A palavra '{palavra_a_verificar}' NÃO está na lista.")'''

# LETRAS EXCLUIDAS

In [ ]:
# Loop para verificar cada posição na palavra resultado
erros = ['S','C']
for i in range(5):
    if '*' == resultado[i]:
        erros.append(chute[i])
erros

In [ ]:
# Remove palavras que contêm qualquer letra da lista erros
palavras_possiveis = [
    palavra for palavra in palavras_possiveis 
    if not any(letra in palavra for letra in erros)
]

# Exibe as palavras filtradas
palavras_possiveis  # Mostra as palavras que não contêm as letras na lista erros

In [ ]:
len(palavras_possiveis)